body {
    font-family: 'Bangers', cursive;
    color: black;
    background-color:black;
    margin: 0mm;
    font-size: 15px;
    font-style: italic;
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}
#bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}
  /*#bg-header{
      position: relative;
      top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bg-header img {
    position: relative; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }*/

#yakayaller_title {
    color:#f14e4e;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #630202;
}

#yakayaller_title_map {
    top: 80px;
    /*color:black;*/
    color:#f14e4e;
    left: 43.5%;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
}

#menu-haut {
    z-index:10;
    position:absolute;
    padding:10px;
}


/*#user{
    height:750px ;
    margin: auto;
    width: 100%;
    background-image: url(/img/ville4.jpg);
    background-repeat: no-repeat;
    background-color: black;
}*/
    
h1{
    color: rgb(90, 6, 6);
    text-align:center;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-style:italic; */
    margin-bottom: 100px;
    padding-top: 25px;
    margin-top: 0mm;
}
h2 {
    color:#f14e4e;
    font-size: 20px;
    font-weight:unset;
    text-shadow: 1px 1px 1px #630202;
}
h3 {
    color:#f14e4e;
    font-size: 16px;
    font-weight:bold;
    margin-block-end: 0;
    text-align:left;
}
h4 {
    color:black;
    font-size: 14px;
    font-weight:bold;
    margin-block-start: 0.5em;
    text-align:left;
}
h5 {
    color:#f14e4e;
    font-size: 16px;
    font-weight:bold;
    margin-block-end: 0;
}
h6 {
    color:#f14e4e;
    font-size: 16px;
    font-weight:bold;
    margin-block-end: 0;
    text-align: center;
    position: relative;
    margin-block-start: -15px;
    margin-block-end: 10px;
}

section{
    background-color:rgb(255, 255, 255, 0.92);
    border-radius:10px;
    margin-left:5%;
    height: 88%;
    width:90%;
    position: absolute;
    float:left;
}
#map{
    float:left;
    /* border-radius:10px; */
    /* bottom: 400px;
    width: 50%; */
    width: 49%;
    height:100%;
    top:0;
    left:0;
    /* background-color: teal;
    background-clip: border-box; */
    margin-right:2%;
}
.gnw-map-service {
    border-radius: 10px;
    height:100% !important;
}
.gnw-map{
    border-radius: 10px;
}
#events{
    width:49%;
    height:100%;
    overflow: scroll;
    overflow-x: hidden;
    /* box-shadow: 3px 3px 0px rgb(173, 82, 82); */
    /* right:0; */
    /* background-color: #ac6060;
    background-clip: border-box; */
}
.txt_event{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    text-align:justify;
}
#ctn_event_list{
    /* overflow: scroll;
    overflow-x: hidden; */
}
.event_list{
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}
#form{
    text-align: center;
    top: 40px;
    position: relative;
    max-width:600px;
    margin:auto;
}
#form-map-events{
    padding:10px;
    margin:10px;
    border:1px solid gray;
    border-radius:5px;
    /* position:fixed; */
}

li {
	display: block;
	padding: 4px;
    border:none;
}
li:last-child {
	text-align: center;
}

input{
    border-style: solid;
    border-width: 1px;
    border-color: #f14e4e;
    bottom:10px;
    box-sizing: border-box;
    /*box-shadow: 1px 1px 4px #ebebeb;*/
    box-shadow: 1px 1px 4px #ac6060;
    border-radius: 3px;
    padding:7px;
    outline: 0;
}
select{
    border-style: solid;
    border-width: 1px;
    border-color: #f14e4e;
    bottom:10px;
    box-sizing: border-box;
    /*box-shadow: 1px 1px 4px #ebebeb;*/
    box-shadow: 1px 1px 4px #ac6060;
    border-radius: 3px;
    padding:7px;
    outline: 0;
    width:253px;
}
i{
    color: floralwhite;
}
.button{
    color:black;
    border-radius: 3px;
    position: relative;
}
.text{
    color:red;
}
#padding{
    padding-top: 10px;
    padding-left: 10px;
    left: 800px;
}

#button{
    background-color: lightgray;
}
input[type=submit] {
    cursor: pointer;
    }
/* #inscription{
    top: 30px;
    margin: auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
} */
label{
    color:#0e0101;
    font-size: 16px;
    font-weight:bold;

    display: inline-block;
    width: 120px;
    text-align: right;
    /* color:black; */
    /* font-weight: bolder; */
}
.bouton{
    background-color: whitesmoke;
}
#align{
    left: 95px;
    position: relative;
}
#lien{
    color: #f14e4e;
}
/* #connexion{
    bottom: 30px;
    margin: auto;
    width: 400px;
    padding: 1em;
    border-radius: 1em;
    position: relative;
} */
/* ol{
    list-style-type: none;
} */
ul{
    margin: 0;
}
#signup{
    background-color:rgb(255, 255, 255, 0.7);
    border-radius:10px;
    padding-top:20px;
    padding-bottom:20px;
}
#champ{
    position: relative;
    /* padding-right: 190px; */
}
#city{
    background-color: mintcream;
}
#connect{
        list-style-type: none;
        right: 80px;
        text-align: center;
        position: relative;
}
#submit{
    border-radius: 3px;
    position: relative;
    margin-right: 100px;
}
/* #position{
    list-style-type: none;
        right: 80px;
        text-align: center;
        position: relative;
} */
#header{
    /* background-image: url("../img/ville10.jpg");
    background-repeat: no-repeat; */
    position: relative;
    z-index:8;
    height: 60px;
    /* background-position: top left; */
    /*background-color: rgba(255,255,255,0.2);*/
    /* background-size: cover; */
}
footer{
    /* background-image: url("../img/ville10.jpg");
    background-repeat: no-repeat; */
    position: absolute;
    width:100%;
    background-color: rgba(155,155,155,0.7);
    bottom: 0; left: 0; right: 0;
    /* background-size: cover;
    background-position: top left; */
}
#button2{
    background-color: red;
    margin-left: 173px;
    top: 5px;
    
}
/* https://fdossena.com/?p=html5cool/buttons/i.frag */
a.button4 {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(200,200,200,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    z-index:10;
    font-size:initial;
    font-style: normal;
}
a.button4:hover{
    border-color: rgba(200,200,200,1);
}
@media all and (max-width:30em) {
    a.button4{
        display:block;
        margin:0.2em auto;
    }
}

#copyright{
    text-align: right;
    color:white;
    padding-right:10px;
}